@model ReportPostListViewModel

@{
    ViewData["Title"] = "All Reports";
}

<h1 class="text-light">@ViewData["Title"]</h1>

<h2 class="text-light">Showing @Model.TotalEntries Published Reports</h2>
<div class="row">
    @foreach (var reportPost in Model.ReportPosts)
    {
        <div class="card" style="width: 18rem;padding:20px; margin:20px;background-color:#294169">
            <img class="card-img-top" src="@reportPost.ImageUrl" alt="Image for @reportPost.Title" />
            <div class="card-body">
                <h3 class="card-title text-light">@reportPost.Title</h3>
                <p class="small text-light">@reportPost.CreatedDate.ToShortDateString() in @reportPost.Category.Name by @reportPost.Reporter.Name</p>
                <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                    <a asp-controller="Report" asp-action="Details" asp-route-id="@reportPost.Id" class="btn btn-primary m-lg-3">Details</a>
                    @if (reportPost.InvestigationId != 0)
                    {
                        <a asp-controller="Investigation" asp-action="Details" asp-route-id="@reportPost.InvestigationId" class="btn btn-success md-3" style="margin-top: 10px;">
                            View Investigation ID: @reportPost.InvestigationId
                        </a>
                    }
                    else
                    {
                        @if (User.IsInRole("Investigator"))
                        {
                            <a asp-controller="Investigation" asp-action="Create" asp-route-reportId="@reportPost.Id" class="btn btn-outline-success btn-info md-3">
                                Investigate
                            </a>
                        }
                    }
                    @if (User.Identity.Name == reportPost.Reporter.Name)
                    {
                        <a asp-controller="Report" asp-action="Delete" asp-route-id="@reportPost.Id" button class="btn btn-primary btn-danger m-lg-3" type="submit">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
